body.bg-envivo-digital::after{
    /* background: url(https://canaloncetv.s3.us-east-1.amazonaws.com/REST/data/images/fondo_once_digital_2400x1400.jpg); */
    background: url(../images/Fondo-TV-internacional-1920-1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*-------------------------------------------------------------
# Section En vivo
--------------------------------------------------------------*/
.section-reproductor-live .container-reproductor-live{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1% 2%;
}
.section-reproductor-live .container-reproductor-live .title-reproductor-live{
    color: var(--color_sazerac_50);
}
.section-reproductor-live .container-reproductor-live .title-reproductor-live h2{
    text-transform: uppercase;
    font-size: 2.3rem;
}
.section-reproductor-live .container-reproductor-live .title-reproductor-live .description{
    font-size: 1.3rem;
}
.section-reproductor-live .container-reproductor-live .title-reproductor-live.logo-once3{
    display: flex;
    justify-content: center;
}
.section-reproductor-live .container-reproductor-live .title-reproductor-live.logo-once3 picture{
    width: auto;
    height: auto;
}
.section-reproductor-live .container-reproductor-live .title-reproductor-live.logo-once3 picture img{
    width: auto;
    height: 130px;
    max-height: 130px;
}
.section-reproductor-live .container-reproductor-live .content-reproductor-live{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    margin-bottom: 3%;
}
.section-reproductor-live .container-reproductor-live .content-reproductor-live.padding-logo-once3{
    padding-top: 1%;
}
.section-reproductor-live .container-reproductor-live .content-reproductor-live .reproductor-live {
    height: 100%;
    width: 100%;
    max-width: 950px;
}
.section-reproductor-live .container-reproductor-live .content-reproductor-live .center-items {
    box-shadow: 0px 0px 7px 1px #ffffffba;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.section-reproductor-live .container-reproductor-live .content-reproductor-live .reproductor-live h2{
    color: var(--color_sazerac_50);
    font-size: 2rem;
    position: absolute;
    padding-top: 12%;
    z-index: 3!important;
}
.section-reproductor-live .container-reproductor-live .content-reproductor-live .reproductor-live picture{
    width: 100%;
    height: 100%;
}
.section-reproductor-live .container-reproductor-live .content-reproductor-live .reproductor-live picture img{
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 500px;
}
.section-reproductor-live .container-reproductor-live .title-program-live{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.section-reproductor-live .container-reproductor-live .title-program-live h2{
    color: var(--color_sazerac_50);
    text-transform: uppercase;
    font-size: 2.3rem;
}
.section-reproductor-live .container-reproductor-live .title-program-live hr{
    margin-bottom: 1%;
}
.section-reproductor-live .container-reproductor-live .title-program-live p{
    color: var(--color_sazerac_50);
    font-size: 1.1rem;
}
.section-reproductor-live .container-reproductor-live .title-program-live .sinopsis-program{
    font-size: 1.6rem;
}
/*-------------------------------------------------------------
#  Section Programacion del en vivo
--------------------------------------------------------------*/
.section-programation-live .container-programation-live{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1% 2%;
    align-items: center;
}
.section-programation-live .container-programation-live .info-pgm{
    border-bottom: 2px solid var(--color_white_50);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    justify-items: stretch;
    width: auto;
    max-width: 65%;
}
.section-programation-live .container-programation-live .text-informacion{
    width: 100%;
    padding: 0.5rem;
    border-top: 2px solid var(--color_white_50);
    grid-column: 1/4;
    text-align: center;
}
.section-programation-live .container-programation-live .text-informacion a{    
    text-align: center;
    color: var(--color_sazerac_50);
}
.section-programation-live .container-programation-live .text-informacion h2{
    color: var(--color_sazerac_50);
    font-size: calc(1.5rem + 1vh);
}
@media (max-width: 1100px){
    .section-programation-live .container-programation-live .info-pgm {
        max-width: 90%;
    }
}
@media (max-width: 991px){
    /*-------------------------------------------------------------
    # Section En vivo
    --------------------------------------------------------------*/
    .section-reproductor-live .container-reproductor-live .content-reproductor-live{
        flex-direction: column-reverse;
        align-items: center;
    }
    .section-reproductor-live .container-reproductor-live .title-reproductor-live .description{
        font-size: 1.1rem;
    }
    .section-reproductor-live .container-reproductor-live .title-reproductor-live.logo-once3 picture{
        width: auto;
        height: auto;
    }
    .section-reproductor-live .container-reproductor-live .title-reproductor-live.logo-once3 picture img{
        width: 100%;
        max-height: 150px;
    }
    .section-reproductor-live .container-reproductor-live .content-reproductor-live .reproductor-live{
        width: 100%;
    }
    .section-reproductor-live .container-reproductor-live .title-program-live{
        width: 100%;
    }
    .section-reproductor-live .container-reproductor-live .title-program-live .title{
        display: none;
    }
    .section-reproductor-live .container-reproductor-live .title-program-live .description{
        display: none;
    }
    .section-reproductor-live .container-reproductor-live .title-program-live hr{
        display: none;
    }
    .section-reproductor-live .container-reproductor-live .content-reproductor-live .center-items{
        align-items: flex-end;
    }
    .section-reproductor-live .container-reproductor-live .content-reproductor-live .reproductor-live h2{
        padding: 0 0 4em 0;
    }
    /*-------------------------------------------------------------
    #  Section Programacion del en vivo
    -------------------------------------------------------------*/
    .section-programation-live .container-programation-live .info-pgm{
        max-width: 100%;
        width: 100%;
    }
    .section-programation-live .container-programation-live .text-informacion h2{
        font-size: 1.7rem;
    }

}
@media (max-width: 650px){
    /*-------------------------------------------------------------
    #  Section Programacion del en vivo
    -------------------------------------------------------------*/
    .section-programation-live .container-programation-live .text-informacion a{
        width: 100%;
        display: block;
    }
}
@media (max-width: 550px){

}
@media (max-width: 480px){
    /*-------------------------------------------------------------
    # Section En vivo
    --------------------------------------------------------------*/    
    .section-reproductor-live .container-reproductor-live .content-reproductor-live .reproductor-live h2{
        padding: 0px 0 4em 0;
        font-size: 1.8rem;    
    }
    .section-programation-live .container-programation-live .info-pgm {
        max-width: 100%;
    }
    .section-reproductor-live .container-reproductor-live .title-reproductor-live.logo-once3 picture{
        width: 50%;
    }
    .section-reproductor-live .container-reproductor-live .title-reproductor-live.logo-once3 picture img{
        max-height: 100px;
    }
}
@media (max-width: 380px){
    /*-------------------------------------------------------------
    # Section En vivo
    --------------------------------------------------------------*/
    .section-reproductor-live .container-reproductor-live .title-reproductor-live.logo-once3 picture img{
        max-height: 100%;
    }
    /*-------------------------------------------------------------
    #  Section Programacion del en vivo
    --------------------------------------------------------------*/
    /* .section-programation-live .container-programation-live .info-pgm .image-pgm h2, 
    .section-programation-live .container-programation-live .info-pgm .image-pgm p{
        font-size: calc(0.3rem + 0.5vh);
    } */
}