.content-navigation-next img,
.content-navigation-prev img{
    filter: invert(1);
    -webkit-filter: invert(1);
}
/*-------------------------------------------------------------
# Seccion Infomedia
--------------------------------------------------------------*/
.section-infomedia{
    background-color: var(--color_steel_gray_950);
}
.section-infomedia .container-infomedia{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
}
.section-infomedia .container-infomedia .sinopsis-infomedia{
    width: 80%;
    flex-direction: column;
    padding: 2rem 0rem;
}
.section-infomedia .container-infomedia .sinopsis-infomedia .info{
    width: 60%;
    height: auto;
}
.section-infomedia .container-infomedia .sinopsis-infomedia .info h2,
.section-infomedia .container-infomedia .sinopsis-infomedia .info p{
    color: var(--color_sazerac_50);
}
.section-infomedia .container-infomedia .sinopsis-infomedia .info h2{
    font-size: 3.8rem;
    text-transform: uppercase;
}
.section-infomedia .container-infomedia .sinopsis-infomedia .info p{
    font-size: 2rem;
}
.section-infomedia .container-infomedia .collage-logos-infomedia{
    width: 39%;
}
/*-------------------------------------------------------------
# Seccion Sliders Especiales
--------------------------------------------------------------*/
.section-special-programs{
    background-color: var(--color_steel_gray_950);
}
.section-special-programs .container-special-programs{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
    gap: 1rem;
}
.section-special-programs .container-special-programs .title-special-programs{
    color: var(--color_sazerac_50);
    width: 80%;
    height: auto;
}
.section-special-programs .container-special-programs .title-special-programs h2{
    text-transform: uppercase;
    font-size: 3.8rem;
}
.section-special-programs .container-special-programs .title-special-programs p{
    font-size: 1.1rem;
}
.section-special-programs .container-special-programs .slider-special-programs{
    padding-top: 1%;
    height: auto;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.section-special-programs .container-special-programs .slider-special-programs .swiper {
    width: 100%;
    height: 400px;
    height: auto;
}
.section-special-programs .container-special-programs .slider-special-programs .swiper-slide {
    height: 100%;
}
.section-special-programs .container-special-programs .slider-special-programs .swiper-slide a {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: var(--color_sazerac_50);
}
.section-special-programs .container-special-programs .slider-special-programs .swiper-slide  a:hover {
    color: var(--color_sazerac_50);
}
.section-special-programs .container-special-programs .slider-special-programs .swiper-slide  a picture{
    width: 100%;
    height: auto;
}
.section-special-programs .container-special-programs .slider-special-programs .swiper-slide  a picture img{
    width: auto;
    height: auto;
    max-height: 400px;
    max-width: 100%;
    object-fit: cover;    
}
.section-special-programs .container-special-programs .slider-special-programs .swiper-slide a h2{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.section-special-programs .container-special-programs .slider-special-programs .swiper-slide a h3{
    width: auto;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-family: "Trebuchet MS Bold";
    font-size: 1rem;
}
.section-special-programs .container-special-programs .slider-special-programs .swiper-slide a small{
    color: #000000;
    position: absolute;
    bottom: 10%;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px var(--color_sazerac_50);
}
.section-special-programs .container-special-programs .slider-special-programs .swiper-slide .redirect-special{
    text-decoration: none;
}
.section-special-programs .container-special-programs .slider-special-programs .swiper-slide .redirect-special .content-redirect-special{
    width: 100%;
    height: 85%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: var(--color_jazzberry_jam_900);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-special-programs .container-special-programs .slider-special-programs .swiper-slide .redirect-special .content-redirect-special h2{
    color: var(--color_sazerac_50);
}
.section-special-programs .container-special-programs .slider-special-programs .container-button-premier-programs{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.section-special-programs .container-special-programs .slider-special-programs .container-button-premier-programs a{
    padding-right: 2%;
    position: absolute;
    transform: translate(0%,-6em);
    z-index: 99;
    -webkit-transform: translate(0%,-6em);
    -moz-transform: translate(0%,-6em);
    -ms-transform: translate(0%,-6em);
    -o-transform: translate(0%,-6em);
}
.section-special-programs .container-special-programs .slider-special-programs .container-button-premier-programs a button{
    color: var(--color_sazerac_50);
    cursor: pointer;
    background: var(--color_jazzberry_jam_900);
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    padding: 4px 7px;
}
/*-------------------------------------------------------------
# Seccion Informaci贸n Redes Sociales
--------------------------------------------------------------*/
.section-info-social-networks{
    background-color: var(--color_steel_gray_950);
}
.section-info-social-networks .container-info-social-networks{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
    gap: 1rem;
}
.section-info-social-networks .container-info-social-networks .title-info-social-networks{
    color: var(--color_sazerac_50);
    width: 80%;
    height: auto;
}
.section-info-social-networks .container-info-social-networks .title-info-social-networks h2{
    text-transform: uppercase;
    font-size: 3.8rem;
}
.section-info-social-networks .container-info-social-networks .info-social-networks{
    width: 80%;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
.section-info-social-networks .container-info-social-networks .info-social-networks .items-social-networks {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-info-social-networks .container-info-social-networks .info-social-networks .items-social-networks img{
    width: 100%;
    height: auto;
    max-height: 400px;
    max-width: 100%;
    object-fit: contain;
}
.section-info-social-networks .container-info-social-networks .info-social-networks .items-social-networks h2{
    color: var(--color_sazerac_50);
    font-size: 1.3rem;
}
@media (max-width: 1100px){
    /*-------------------------------------------------------------
    # Seccion Infomedia
    --------------------------------------------------------------*/
    .section-infomedia .container-infomedia .sinopsis-infomedia .info{
        width: 100%;
    }
}
@media (max-width: 991px){
    /*-------------------------------------------------------------
    # Seccion Infomedia
    --------------------------------------------------------------*/
    .section-infomedia .container-infomedia{
        padding: 1rem 1.2rem;
    }
    .section-infomedia .container-infomedia .sinopsis-infomedia{
        width: 100%;
        padding: 0rem;
    }
    .section-infomedia .container-infomedia .sinopsis-infomedia .info{
        padding: 0rem;
    }
    .section-infomedia .container-infomedia .sinopsis-infomedia .info h2{
        font-size: 2.8rem;
    }
    .section-infomedia .container-infomedia .sinopsis-infomedia .info p{
        font-size: 1.6rem;
    }
    .section-infomedia .container-infomedia .collage-logos-infomedia{
        width: 0%;
    }
    /*-------------------------------------------------------------
    # Seccion Sliders Especiales
    --------------------------------------------------------------*/
    .section-special-programs .container-special-programs{
        padding: 1rem 1.2rem;
    }
    .section-special-programs .container-special-programs .title-special-programs,
    .section-special-programs .container-special-programs .slider-special-programs{
        width: 100%;
    }
    .section-special-programs .container-special-programs .title-special-programs h2{
        font-size: 2.8rem;
    }
    .section-special-programs .container-special-programs .slider-special-programs .swiper{
        width: 85%;
    }
    .section-special-programs .container-special-programs .slider-special-programs .swiper-slide a h3{
        height: 60px;
    }
    /*-------------------------------------------------------------
    # Seccion Informaci贸n Redes Sociales
    --------------------------------------------------------------*/
    .section-info-social-networks .container-info-social-networks{
        padding: 1rem 1.2rem;
    }
    .section-info-social-networks .container-info-social-networks .title-info-social-networks,
    .section-info-social-networks .container-info-social-networks .info-social-networks{    
        width: 100%;
    }
    .section-info-social-networks .container-info-social-networks .title-info-social-networks h2{
        font-size: 2.8rem;
    }
    .section-info-social-networks .container-info-social-networks .info-social-networks .items-social-networks img{
        max-height: 300px;
    }
    .section-info-social-networks .container-info-social-networks .info-social-networks .items-social-networks h2{
        text-align: center;
    }
}
@media (max-width: 660px){    
    /*-------------------------------------------------------------
    # Seccion Infomedia
    --------------------------------------------------------------*/
    .section-infomedia .container-infomedia .sinopsis-infomedia{
        width: 100%;
    }
    .section-infomedia .container-infomedia .sinopsis-infomedia .info h2{
        font-size: 2.2rem;
    }
    .section-infomedia .container-infomedia .sinopsis-infomedia .info p{
        font-size: 1.2rem;
    }
    /*-------------------------------------------------------------
    # Seccion Sliders Especiales
    --------------------------------------------------------------*/
    .section-special-programs .container-special-programs .title-special-programs h2{
        font-size: 2rem;
    }
    html .section-special-programs .container-special-programs .slider-special-programs .swiper-slide{
        width: 80%;
    }
    /*-------------------------------------------------------------
    # Seccion Informaci贸n Redes Sociales
    --------------------------------------------------------------*/
    .section-info-social-networks .container-info-social-networks .title-info-social-networks h2{
        font-size: 2rem;
    }
    .section-info-social-networks .container-info-social-networks .info-social-networks .items-social-networks img{
        max-height: 250px;
    }
}
@media (max-width: 480px){    
    /*-------------------------------------------------------------
    # Seccion Informaci贸n Redes Sociales
    --------------------------------------------------------------*/
    .section-info-social-networks .container-info-social-networks .title-info-social-networks h2{

    }
}